<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head.ejs") %> 
<body>
  <header id="main">
    <div>
     <h1><a href="/" id="title">Chedou's Market Place</a></h1> 
      <p>Located in Johnston, RI</p> </br>
      <p>Open 24/7 - No Sleep Gang</p> </br>
      <p id="shopNow"><a href="/products">SHOP NOW</a></p>
    </div>
  </header>
</body>
</html>