<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head.ejs") %> 
<body>
  <header class="pages">
    <%- include("partials/header.ejs", {title: "New Product"}) %> 
  </header>
  <div class="new-form">
    <form action="/products" method="POST">
      <p>Name <input type="text" name="name"></p>
      <p>Description <input type="text" name="description"></p>
      <p>Price <input type="text" name="price"></p>
      <p>Inventory On Hand <input type="text" name="qty"></p>
      <p>Image <input type="text" name="img"></p>
      <p id="btn-add"><input type="submit" value="ADD PRODUCT"></p>
    </form>
  </div>

</body>
</html>