<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
</head>
<body>
  <h1> New Product</h1>
 <form action="/products" method="POST">
   Name: <input type="text" name="name">
   Description: <input type="text" name="description">
   Price: <input type="text" name="price">
   Inventory On Hand: <input type="text" name="qty">
   Image: <input type="text" name="img">
   <input type="submit" value="ADD PRODUCT">
 </form>
</body>
</html>