@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Whisper&display=swap');
* {
  box-sizing: border-box;
}

body {

  background-color: rgb(149,28,156);
  background-image: url("https://thumbs.gfycat.com/FrigidGargantuanHarlequinbug-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.pages{
  text-align: center;
	width: 100%;
	height: 20vh;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 40%;
  border-bottom: black solid 10px;
}

#main {
  text-align: center;
	width: 100%;
	height: 50vh;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 40%;
  border-bottom: black solid 10px;
}

#main div p {
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
}

header div {
  width: 100%;
	height: 100%;
	color: #FFF;
	text-shadow: 2px 2px 1px #333;
  background-image: linear-gradient( 45deg, #4a0276f0 30%, #fd08c4db);
}

header div #title {
  font-family: 'Whisper', cursive;
  font-size: 4em;
  text-decoration: none; 
  color: white;
}

header div #title:hover {
  transform: scale(1);
  animation: pulse 1s infinite;
}

header div p {
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
}

#shopNow:hover {
  transform: scale(1);
  animation: pulse 1s infinite;
}

#shopNow a {
  text-decoration: none;
  color: white;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}
	
	70% {
		transform: scale(1);
	}
	
	100% {
		transform: scale(0.95);
	}
}

/* Index Route */
main {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 80vh;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.product {
  margin: 2%;
  color: white;
}